
/* ---------------------------------- */

p {
  text-align: center;
}

h1 {
  text-align: center;
}

input{
  margin: 2vw;
}

nav {
  padding-top: 5vw;
  display: flex;
  flex-direction: row;
  color: white;
  flex-wrap: wrap;
}

.navBtn{
  flex-grow:1;
  color: black;
  padding: 2vw;
  margin: 1vw;
  width: auto;
  background-color: #87a7b5;
  border-radius: 20px;
}

.navBtn:hover{
  background-color: #78929e;

}
/* må fikse like variable navn */

.hidden {
  display: none;
}

.vis{
  display: block;
}

#lastInn {
  text-align: center;
  padding: 3vw;
}


/* ---------------------------------- */

.introduksjon h3 {
  text-align: center;
  margin: 2em;
}

.beskrivelse {
  width: 60%;
  margin: 50px auto;
  padding: 1vw;
}

/* ---------------------------------- */

.oversikt li {
  padding: 1vw;
  border: 0.1vw solid;
  flex-grow: 1;
  height: 3vw;
  list-style: none;
  background-color: #DAE5EA;
}

.oversikt {
  display: flex;
  justify-content: center;
  margin: 0;
}

.header{
  font-size: 19px;
  background-color: #17536D;
  color: white;
  border: 0.1vw solid;
  margin-bottom: 1vw;
  padding: 1vw;
}

.oversiktListe{
  margin: 0;
  padding: 0;
}

.ulList{
  padding: 0;
  margin: 0;
}

/* Vi bruker mediaquery på oversikt ettersom vi merket at enkelte kommunenavn tok mer plass og gjorde tabellen ustrukturert */

@media screen and (max-width: 500px){
  .oversikt li{
    height: 15vw;
  }
  .header{
    font-size: 5vw;
  }
}



/* ---------------------------------- */

.detaljer{
}

#getKommune{
  text-align: center;
  width: auto;
  margin: 2vw;
  margin-bottom: 4vw;
}

.komunetitler {
  display: flex;
  justify-content: space-between;
}


#info{
  padding-bottom: 2vw;
}

/* ---------------------------------- */


.sammenligning {

}

/* ------------- tabell------------- */

.datah {
  display: flex;
  flex-direction: column;
}

.utdanning {
  display: flex;
  flex-direction: column;
}

.sammenhh {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.tabell{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

ul.rad {
  margin: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  border: 0.1vw solid white;
}

li.kategori {
  padding: 1vw;
  background: #17536d;
  color: white;
  text-align: center;
  width: 4vw;
}

li.cell {
  padding: 1vw;
  background-color: #cfd3d0;
  border: 0.1vw solid;
  text-align: center;
  width: 4vw;
}

li.cellHøgestP {
  padding: 1vw;
  background-color: #327744;
  border: 0.1vw solid;
  text-align: center;
  flex-direction: row;
  width: 4vw;
}


.kommuneNavn h2{
  font-size: 23px;
}
.kommuneNavn{
  order: -1;
  color: #2281AA;
  padding-left: 50px;
  margin: inherit;
}

#skole0,#skole1,#skole2,#skole3,#skole4,#skole5{
  padding-top: 60px;
  width: auto;
}


@media screen and (max-width: 400px){

  .utdanning h2 {
  }

  .datah {
    flex-direction: column;
  }

  .sammenhh{
    overflow-x: auto;
  }

  .tabell{
    flex-direction: row;
  }

  ul.rad {
    flex-direction: column;
    padding: 0;
    flex-grow: 1;
  }

  li.kategori {
    flex-grow: 1;
    width: auto;
  }

  li.cell {
    background-color: #dae5ea;
    flex-grow: 1;
    width: auto;
  }

  li.cellHøgestP {
    flex-grow: 1;
    width: auto;
  }
}
