input{
  margin: 2vw;
}
.loading h3{
  text-align: center;
  padding: 20vw;
}

.introduksjon h3 {
  text-align: center;
  margin: 2em;
}

.beskrivelse {
  width: 60%;
  margin: 50px auto;
  padding: 1vw;

}

.oversikt li {
  padding: 3vw;
  border-style: double;
}


p {
  text-align: center;
}

.sammenligning {}

.oversikt {
  display: flex;
  justify-content: center;

}

.oversikt li {
  list-style: none;
}

.hidden {
  display: none;
}
h1 {
  text-align: center;
}

nav {
  display: flex;
  background-color: black;
  color: white;
}

.nav{
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 2vw;
  width: 25%
}

#getKommune{
  text-align: center;
  width: auto;
  margin: 2vw;
  margin-bottom: 4vw;
}

.komunetitler {
  display: flex;
  justify-content: space-between;
}


.detaljer{
}

#info{
  padding-bottom: 2vw;
}





/* ------------- tabell------------- */


.datah {
  display: flex;
  flex-direction: column;
}

.utdanning {
  display: flex;
  flex-direction: column;
}

.sammenhh{
  display: flex;
  flex-direction: column;
  overflow-x: scroll;

}

.tabell{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}


ul.row {
  margin: 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  border: 0.1vw solid white;

}



li.kategori {
  padding: 1vw;
  background: black;
  color: white;
  text-align: center;
  width: 4vw;


}


li.cell {
  padding: 1vw;
  background-color: #cfd3d0;
  border: 0.1vw solid;
  text-align: center;
  width: 4vw;

}

li.cellHøgestP {
  padding: 1vw;
  background-color: #327744;
  border: 0.1vw solid;
  text-align: center;
  flex-direction: row;
  width: 4vw;
}

/* .utdanning h2 {
  padding: 1vw;
  font-size: 3vw;
} */


.kommuneNavn h2{
  font-size: 23px;
}
.kommuneNavn{
  order: -1;
  color: #2281AA;
  padding-left: 50px;
  margin: inherit;

}


#skole0,#skole1,#skole2,#skole3,#skole4,#skole5{
  padding-top: 60px;
  width: auto;
}


@media screen and (max-width: 400px){
  #skole0,#skole1,#skole2,#skole3,#skole4,#skole5{
    width: 100%;
  }

    .utdanning h2 {
    }

    .datah {
      flex-direction: column;

    }

    .sammenhh{
      overflow-x: auto;

    }

    .tabell{
      flex-direction: row;


    }


  ul.row {
      flex-direction: column;
      padding: 0;
      flex-grow: 1;


    }


    li.kategori {
      flex-grow: 1;
      width: auto;


    }


    li.cell {
      background-color: #dae5ea;
      flex-grow: 1;
      width: auto;



    }

li.cellHøgestP {
      flex-grow: 1;
      width: auto;



    }




/*
  .utdanning {
    background-color: red;

  }



.sammenhh{
  display: flex;
}

.tabell {

  }


ul.row {
    display: flex;

  }





  li.kategori {
    background: blue;
    color: white;
    width: 10vw;

  }


  li.cell {
    padding: 4vw;
    border-bottom: 0.1vw solid;
    text-align: center;
  } */
