

.introduksjon h3 {
  text-align: center;
  margin: 2em;
}

.beskrivelse {
  width: 60%;
  margin: 50px auto;
  padding: 1vw;

}

.oversikt li {
  padding: 3vw;
  border-style: double;
}

/* .beskrivelse p {
  text-align: left;
} */

p {
  text-align: center;
}

.sammenligning {}

.oversikt {
  display: flex;
  justify-content: center;

}

.oversikt li {
  list-style: none;
}

.hidden {
  display: none;
}
h1 {
  text-align: center;
}

nav {
  display: flex;
  background-color: black;
  color: white;
}

button {
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 2vw;
  width: 25%
}

table, th, td {
  border: 1px solid black;
}

#idab td {

}
.komunetitler {
  display: flex;
  justify-content: space-between;
}

.data {
  display: flex;
  justify-content: space-between;
}

.detaljer{
}


.utdanning {
  background-color: red;
  /* display: grid; */
}


.tabell {
  display: grid;
  flex-direction: column;
  background-color: grey;
  overflow-x: scroll;
}

.row {
  display: flex;
  list-style: none;
  background-color: yellow;
  flex-direction: row;
}



.kategori {
  background: blue;
  color: white;
  width: 10vw;

}


.cell {
  background-color: grey;
  border: 0.1vw solid;
  text-align: center;
  flex-direction: row;
  width: 5vw;
}

.utdanning h2 {
  padding: 1vw;
  font-size: 5vw;
}


@media screen and (max-width: 400px){

  .utdanning {
    background-color: red;
    /* display: grid; */
  }


  .tabell {
    display: flex;
    flex-direction: row;
    background-color: grey;
  }

  .row {
    display: flex;
    list-style: none;
    background-color: yellow;
    flex-direction: column;
    padding: 2px;
  }



  .kategori {
    background: blue;
    color: white;
    width: 10vw;

  }


  .cell {
    background-color: grey;
    border-bottom: 0.1vw solid;
    text-align: center;
    flex-direction: column;
  }

  .utdanning h2 {
    padding: 1vw;
    font-size: 5vw;
  }


}
