.introduksjon h3 {
  text-align: center;
  margin: 2em;
}

.beskrivelse {
  width: 60%;
  margin: 50px auto;
  padding: 1vw;

}

.oversikt li {
  padding: 3vw;
  border-style: double;
}

/* .beskrivelse p {
  text-align: left;
} */

p {
  text-align: center;
}

.sammenligning {}

.oversikt {
  display: flex;
  justify-content: center;

}

.oversikt li {
  list-style: none;
}

.hidden {
  display: none;
}
h1 {
  text-align: center;
}

nav {
  display: flex;
  background-color: black;
  color: white;
}

button {
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 2vw;
  width: 25%
}

table, th, td {
  border: 1px solid black;
}

.komunetitler {
  display: flex;
  justify-content: space-between;
}

.data {
  display: flex;
  justify-content: space-between;
}

.detaljer{

}

.row{
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  background-color: pink;
  display: flex;
  flex-direction: column;
  flex-basis:100%;
  flex:1;
}
